*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
p , h4, .class-box span {
 font:19px Arial, sans-serif;
}
h2 {
    font:24px Arial,sans-serif;
} 
h3 {
  font:23px Arial,sans-serif;
}
h1 {
  font: 29px Arial, sans-serif;
}
.layout-flex {
  display:flex;
}
.justify-evenly {
  justify-content: space-evenly;
}
.rounded {
border-radius:17px;
}
         /*header*/
a {
  text-decoration: none;
   font:19px roboto, sans-serif;
}
.navbar {
 height:170px;
background-color:#B10808E6;
}
 .navbar section{
  width:100%;
}
.school-logo  {
  height:150px;
  width:auto;
  padding:18px 0 0 40px;
}
.contact-section {
  min-height:90px;
justify-content:flex-end;
}
.contact-section a {
  padding-right:50px; 
   padding-top:15px;
} 
a, i, .copyright, .foot h2 {
  color:white;
}
i {
padding-top:18px;
}
.menu {
justify-content: space-around;
  list-style: none; 
  padding:0 30px 0 40px;
}
nav {
  margin-top:20px;
}
         /* main  */
.section-spacing{
  margin: 50px 0 50px;
}
.school-img  {
 height:550px;
  width:970px;
}
.school-content h1 {
  color:#B10808E6;
  padding-bottom:20px;
} 
.school-content p{
  color:#FDC800;
  line-height: 29px;
}
.school-content  {
 padding:0 30px 0 30px;
}
.grade-info {
  min-height:160px;
  max-width: 600px;
  padding:17px;
  align-items: center;
  gap:30px;
  background-color:#B10808E6;
    color:#ffffff;
}
.grade-info img { 
  height:110px;
  width:auto;
}
.grade-info p {
  padding: 17px;
}
.grade-info a {
  color:#FDC800; 
}   
.grade-info h2 {
  font-size:19px;
} 
.hero-section {
  min-height:730px;
border: 2px solid black;
background-color: #FDC800;
}
.hero-content {
  flex:1;
  margin:40px;
  margin-left:60px;
}
.hero-title{
    color:#B10808E6;
}
.hero-content p, .hero-content ul,.hero-tagline,.hero-subtitle  {
  padding:20px 0 0 20px;
}
.text-primary{
color:#2D3389;
}
.hero-content ul, .hero-tagline  {
  font-size:20px;
}
.hero-btn {
  min-height:46px;
  width:300px;
  background-color:#2D3389;
  border: 3px solid white;
  margin:35px 0 0 60px;
}
.hero-img img {
min-height:620px;
max-width:520px;
border:2px solid white;
border-radius:17px;
margin-left:30px;
}
.nurturing-section {
  min-height:1580px;
  width:100%;
  padding-top:70px;
  background-image: url("background-image1.jpg");
}
.section-head h3, .inner-element-section h2, .grade-info p, .class-box, .hero-title  {
  text-align:center;
}
.inner-element-section h2{
  font-size:30px;
}
.section-title {
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.divider {
  width: 25%;
  border-top: 10px dotted #FDC800;
}
.section-head h3 {
  margin: 30px;
}
.skills  {
   max-width:85%;
  margin:30px auto;
  text-align:center;
  line-height:1.8;
}
.class-section {
  min-height:700px;
  width:100%;
}
.class-box {
  height:550px;
  max-width:320px;
  margin-top:20px;
  border:3px solid black;
  background-color: #FDC800;
}
.class-box h3 {
  padding-top:25px;
}
  .class-box p {
  line-height:29px;
    padding-top:19px;
  }
 .school-student-img {
min-height:200px;
width:100%;
border-radius:17px 17px 0 0;
  background-size: cover;
  background-position:center;
 }
.pre-school-img{
  background-image: url("imagebox1.webp");
}
.primary-school-img{
  background-image: url("imagebox2.jpg");
}
.middle-school-img  {
  background-image: url("imagebox3.jpg");
}
.pre-school{
  color:red;
}
.primary-school{
  color:rgb(38,133,38);
} 
.chairman {
  min-height:420px;
  max-width:1350px;
  margin-left:60px;
background-image: url(background-image2.jpg);
background-size: cover;
}
.head-img {
margin:40px 0 0 px;
}
.chairman-message {

  max-width:908px;
padding:50px 0px 0px 20px;
}
.para1,.para2 {
padding-top:15px;
}
.para2 {
  line-height: 29px;
}
.para2 a {
  text-decoration: underline;
  color:#2D3389
}
.head-img img {
  min-height:300px;
  max-width:320px;
  background-color: #2D3389;
  margin:30px 0px 0px 18px;
  border-radius: 17px;
}
.associated-section  {
  min-height:540px;
  width:100%;
  background-image: url("background-image3.jpg");
}
.inner-associated {
background-color:#F8F8F8;
padding:20px  20px;
}
.inner-associated h2, .Facilities h3 {
  text-align: center;
}
.section-divider {
  color:#334155;
  width:1300px;
margin-left:60px;
}
.education {
  min-height:200px;
  max-width:1270px;
  margin:50px 0 0 90px;
  border: 3px solid #2D3389;
  border-radius:10px;
}
.education div {
min-height:200px;
max-width:400px;
}
.facilities  {
justify-content: center;
align-items: center;
margin-top:40px;
gap:30px;
}
.dot  {
  width:300px;
   border-top:10px dotted #2D3389;
}
.activities {
  min-height:1500px;
  width:100%;
  background-color:#FDC800;
}
.activity-box {
justify-content: space-around;
padding-top:100px;
}
.Available-items {
  min-height:349px;
  max-width:436px;
background-color: #f8f8f5;
border:2px solid #f8f8f5;
}
.Available-items img {
height:300px;
width:436px;
border-radius: 17px;
}
.Available-items h3 {
text-align: center;  
}
/* footer */
.foot {
  background-color:#B10808E6;
 min-height:350px;
}
.foot-box ul {
 list-style-type: none;
}
.foot-box {
padding:30px 0 15px;
}
.foot-box  h2 {
  padding-bottom:15px;
}
.footer-logo{
  height:180px;
  width:auto;
  margin-top:25px;
}
.foot a {
 line-height:32px;
}
 .foot-box li {
 font-size:27px;
  }
 .copyright  {
text-align: center;
padding-bottom:10px;
}



